<section id="header__">
  <div class="header__">
    <input type="checkbox" id="header__hamburgerMenu" class="header__hamburgerMenu">
    <label for="header__hamburgerMenu" class="fas fa-bars"></label>
    <a style="text-decoration: none;" href="/" class="header__logo">Vals <span>Candy Shelf</span></a>

    <nav class="header__navbar">
      <a style="text-decoration: none;" href="http://127.0.0.1:4200/">
        Home
      </a>
      <!-- <a style="text-decoration: none;" href="http://127.0.0.1:4200/applications">
        Apps
      </a> -->
      <!-- <a style="text-decoration: none;" href="http://127.0.0.1:4200/learn">
        Learn
      </a> -->
      <a style="text-decoration: none;" href="http://127.0.0.1:4200/register/register">
        Sign Up
      </a>
      <a style="text-decoration: none;" href="http://127.0.0.1:4200/register/user">
        Dashboard
      </a>
      <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop">
        Catalog
      </a>
      <a data-bs-toggle="offcanvas" data-bs-target="#cartDrawer" aria-controls="cartDrawer">
        Cart
      </a>
      <a style="text-decoration: none;" href="http://127.0.0.1:4200/#contact__">
        Contact
      </a>
    </nav>
  </div>
</section>
