<section id="login" class="pt-5 mt-5">
  <div class="container-fluid">
    <form method="post">

      <div class="container pb-5">
        <label for="email">
          <b>
            Email
          </b>
        </label>
        <input type="text" placeholder="Enter Username" name="email" required aria-required="true">
    
        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required aria-required="true">

        <div class="pt-3">
          <button mat-raised-button color="accent">Register</button>
          <button mat-raised-button color="primary">Login</button>
        </div>
        
      </div>
    </form> 
  </div>  
</section>

