<div class="container-fluid pt-5 mt-5 ps-5 ms-5">

    <section id="top">
        <nav class="header__navbar navbar-fixed">
            <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#popular">Popular</a>
            <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#new">New</a>
            <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#preorder">Coming Soon</a>
            <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#training">Training</a>
            </nav>
    </section>
    
    <section id="popular">
        <nav class="header__navbar navbar-fixed">
            <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#top">Back to Top</a>
        </nav>
    <div class="container-fluid pt-5 mt-5 ps-5 ms-5">
    <div class="services__heading fw-bold" style="color: var(--blue);">
        Popular
    </div>
    <div class="row pt-5">
        <div class="col-lg-4">
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>
            
            <button mat-raised-button color="accent">View Options</button>
        </div>
        <div class="col-lg-4">
        
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>

            <button mat-raised-button color="accent">View Options</button>
        </div>
        <div class="col-lg-4">
        
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>
            
            <button mat-raised-button color="accent">View Options</button>
        </div>
    </div>
</div>
</section>

<section id="new">
    <nav class="header__navbar navbar-fixed">
        <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#top">Back to Top</a>
    </nav>
<div class="container-fluid pt-5 mt-5 ps-5 ms-5">
    <div class="services__heading fw-bold" style="color: var(--blue);">
        New
    </div>
    <div class="row pt-5">
        <div class="col-lg-4">
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>
            
            <button mat-raised-button color="accent">View Options</button>
        </div>
        <div class="col-lg-4">
        
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>

            <button mat-raised-button color="accent">View Options</button>
        </div>
        <div class="col-lg-4">
        
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>
            
            <button mat-raised-button color="accent">View Options</button>
        </div>
    </div>
</div>
</section>

<section id="preorder">
    <nav class="header__navbar navbar-fixed">
        <a style="text-decoration: none;" href="http://127.0.0.1:4200/shop#top">Back to Top</a>
    </nav>
<div class="container-fluid pt-5 mt-5 ps-5 ms-5">
    <div class="services__heading fw-bold" style="color: var(--blue);">
        Available for Pre-order
    </div>
    <div class="row pt-5">
        <div class="col-lg-4">
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>
            
            <button mat-raised-button color="accent">View Options</button>
        </div>
        <div class="col-lg-4">
        
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>

            <button mat-raised-button color="accent">View Options</button>
        </div>
        <div class="col-lg-4">
        
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <button mat-raised-button color="primary">Add To Cart</button>

            <br/>
            
            <button mat-raised-button color="accent">View Options</button>
        </div>
    </div>
</div>
</section>
<!--   
<section class="container-fluid pt-5">
    <main>
        <div class="container-fluid pt-5">
            <div class="services__">
                <div class="services__heading">
                    test
                    <span>Popular</span>
                </div>
                <div class="services__boxContainer">
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
 -->
