<div class="container-fluid pt-5 mt-5 ps-5 ms-5">
    <div class="row pt-5">
        <div class="col-lg-4 mb-5">
            <p class="lead" style="color: #fff; position: absolute; background-color: var(--blue);" class='services__discount'>    
                Seasonal
            </p>
            <img style="border-style: solid;" src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
            <h3 class="lead">12.99 |
                <span style="text-decoration: line-through;">
                    15.99
                </span>
            </h3>

            <h2 class="lead fw-bold">
                product title
            </h2>

            <a mat-raised-button color="primary">Add To Cart</a>

            <br/>
            
            <a href="/product/:1" mat-raised-button color="accent">View Options</a>
        </div>
    </div>
</div>

<section class="container-fluid pt-5" style="display: none">
    <main>
        <div class="container-fluid pt-5">
            <div class="services__">
                <div class="services__heading">
                    test
                    <span>Popular</span>
                </div>
                <div class="services__boxContainer">
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                    <div class='services__box'>
                        <span class='services__discount'>Seasonal</span>
                        <div class='services__image'>
                            <img src='https://placehold.co/150x150?text=Hello\nWorld' alt=''>
                            <div class='services__icons'>
                                <button class='services__cartButton'>View Details</button>
                                <button class='services__cartButton'>Add to cart</button>
                            </div>
                        </div>
                        <div class='services__content'>
                            <h3>product title</h3>
                            <div class='services__pricing'>
                                $12.99 <span>$15.99</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
