

<section id="home__">
    <div class="home__">
      <div class="home__content">
      
        <h3>Flavor</h3>
          <span>For you to enjoy</span>
  
          <p class="lead text-dark">
            At the helm of Val's Candy Shelf stands Valarie, a trailblazing entrepreneur who forged her path from a young restaurant employee to a seasoned Restaurant General Manager by 2001. With two decades of mastery under her belt, Valarie transitioned her expertise into a new realm, guiding fledgling businesses and struggling enterprises towards success.

            <br/>
            <br/>

            In 2016, Valarie's journey took a sweeter turn as she delved into her newfound passion for candy-making, crafting homemade confections that evoke nostalgia and delight. As a dedicated Confectioner, she infuses every creation with a touch of her artistry and devotion.

            <br/>
            <br/>

            While her candy-making journey flourished, Valarie's drive to empower others remained unwavering. She expanded her horizons, offering consulting services to individuals eager to realize their aspirations of financial independence and pursuing their passions.

            <br/>
            <br/>

            The year 2023 witnessed yet another evolution as Valarie ventured into the realm of software engineering, extending her commitment to facilitating growth. Small businesses found a partner in her, benefiting from custom solutions that streamline modern operations without straining their budgets. Valarie's repertoire now includes web application development, mobile app creation, e-commerce websites, mobile game innovation, app publishing, and efficient website management.

            <br/>
            <br/>

            Val's Candy Shelf isn't just a candy haven; it's a testament to one woman's dedication, resilience, and boundless ability to transform dreams into reality.
          </p>
          <button mat-raised-button color="primary" class="home__button">Click here to view our shop</button>

          
        </div>
    </div>
    <div class="home__">
        <div class="home__content">
        
            <img style="padding-left: 5rem;" src="https://i.etsystatic.com/33065052/r/il/1af69c/4704828798/il_794xN.4704828798_ewk7.jpg" alt="" width="90%" aria-describedby="nougatDescription">
            <div id="nougatDescription" class="hidden">
                This is an image of a batch of our assorted fruit nougat that is packaged for distribution.
            </div>
          </div>
      </div>
    </section>

    <section id="landing">    
        <div class="pb-3 container-fluid">
            <!-- Example row of columns -->
            <div class="row">
                <div class="pt-5 col-lg-4">
                    <h1>Handmade Candies</h1>
                    <p class="lead pb-5">
                        Discover the realm of artisanal candies, offering a diverse range of flavors to satisfy your cravings. At the heart of our selection lies the beloved assorted fruit nougat, an unparalleled fusion of our signature marshmallow and tantalizing fruit chews. Elevate your taste journey with our handcrafted confections that are as much a treat for the eyes as they are for the taste buds. 
                    </p>        
                    <a mat-raised-button color="primary" href="#" role="button">
                        Check Out Our Store »
                    </a>
                </div>
                <div class="pt-5 col-lg-4">
                    <h1>Mobile Application Engineering & Publishing</h1>
                    <p class="lead pb-5">
                        Unleash the power of software engineering, driving technological evolution with a fusion of creativity and practicality. At the forefront of our offerings is a top-tier ecommerce website, a testament to our prowess in crafting digital solutions. Seamlessly merging form and function, our ecommerce platform empowers businesses to conquer the online realm with confidence.
                    </p>      
                    <a mat-raised-button color="accent" href="#" role="button">
                        Check Out Our Apps »
                    </a>
                </div>
                <div class="pt-5 col-lg-4">
                    <h1>Certified ANSI Food Manager</h1>
                    <p class="lead pb-5">
                        Unleash the power of software engineering, driving technological evolution with a fusion of creativity and practicality. At the forefront of our offerings is a top-tier ecommerce website, a testament to our prowess in crafting digital solutions. Seamlessly merging form and function, our ecommerce platform empowers businesses to conquer the online realm with confidence.
                    </p>  
                    <a mat-raised-button color="warn" href="#" role="button">
                        View details »
                    </a>
              </div>
            </div>
        </div>  
    </section>

    <section class="contact__" id="contact__">
        <div class="contact__row">

          <form class="contact__form" id='contact__form' action="http://localhost/durondavid.com/includes/config/controllers/general.php" method="post">
            <h1>Have Questions? Ask Away</h1>


            <label for="name">Name:</label>
            <input type="text" class="contact__input" name="contact__name" placeholder="your name" required aria-required="true">

            <label for="name">Email:</label>
            <input type="email" class="contact__input" name="contact__email" placeholder="email" required aria-required="true">

            <label for="name">Message:</label>
            <textarea class="contact__input" placeholder="please type your messsage" name="contact__message" rows="10" cols="30" required aria-required="true"></textarea>
      
            <button mat-raised-button color="primary">SEND MESSAGE</button>
          </form>
      
          <div class="contact__image">
            <img style="padding-left: 5rem;" src="../../../assets/logos/tooth.png" alt="tooth-mascot-with-winking-eye-holding-candy-bar" width="75%" aria-describedby="logoDescription">
            <div id="logoDescription" class="hidden">
                This is the mascot shaped like a tooth with a pink hairbow. The mascot is holding a candybar and winking at the user.
            </div>
          </div>
        </div>
      </section>