:root {
    --pink: #C689C6;
    --blue: #31C6D4;
  }
  
  * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
  }
  
  html {
    font-size: 69%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
  }
  
  section {
    padding: 2rem 9%;
  }
  
  .story__heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, 0.1);
  }
  
  .story__heading>span {
    color: var(--pink);
  }
  
  .home__button {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #111;
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .home__button:hover {
    background: var(--pink);
  }
  
  .header__ {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .header__logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
  }
  
  .header__logo>span {
    color: var(--pink);
  }
  
  .header__navbar>a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
  }
  
  .header__navbar>a:hover {
    color: var(--pink);
  }
  
  .header__navbar>a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
  }
  
  .header__>.header__icons>a {
    font-size: 2rem;
    color: #C689C6;
    margin-left: 1.5rem;
  }
  
  .header__icons>a:hover {
    color: var(--pink);
  }
  
  
  .header__hamburgerMenu {
    display: none;
  }
  
  .header__>.fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem, 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
  }
  
  #home__ {
    display: flex;
    align-items: center;
    min-height: 80vh;
    margin: 10rem;
  }
  
  .home__>.home__content {
    max-width: 80rem;
  }
  
  .home__>.home__content>h3 {
    font-size: 6rem;
    color: #000;
  }
  
  .home__>.home__content>span {
    font-size: 3.5rem;
    color: var(--pink);
    padding: 0.5rem 0;
    line-height: 1.5;
  }
  
  .home__>.home__content>p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 1.5;
  }

  .story__>.story__row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
  }
  
  .story__>.story__row>.story__videoContainer {
    flex: 1 1 40rem;
    position: relative;
  }
  
  .story__>.story__row>.story__videoContainer>video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .story__>.story__row>.story__videoContainer>h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
  }
  
  .story__>.story__row>.story__content {
    flex: 1 1 40rem;
  }
  
  .story__>.story__row>.story__content>h3 {
    font-size: 3rem;
    color: #333;
  }
  
  .story__>.story__row>.story__content>p {
    font-size: 1.5rem;
    color: #999;
    padding: 1.5rem 0 0.5rem 0;
    line-height: 1.5;
  }
  
  .icons__ {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 5rem 0;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  
   .icons__>.icons__images {
    /* background: #fff; */
    background: rgba(255, 51, 153, 0.1);
    font-size: 1.5rem;
    color: purple;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 21rem;
  }
  
  .icons__>.icons__images>img {
    height: 7rem;
    margin-right: 2rem;
  }
  
  .icons__>.icons__images>h3 {
    color: #333;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  
  .icons__>.icons__images>span {
    color: #555;
    font-size: 1.3rem;
  }
  
  .services__heading {
    text-align: center;
    font-size: 3rem;
    color: #333;
    padding: 1rem;
    margin: 1rem;
    background: rgba(255, 51, 153, 0.1);
  }
  
  .services__heading>span {
    color: var(--pink);
  }
  
  .services__>.services__boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 65%;
    padding-top: 5rem;
    margin: auto;
  }
  
  .services__>.services__boxContainer>.services__box {
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 40rem;
  }
  
  .services__>.services__boxContainer>.services__box>.services__discount {
    position: absolute;
    top: 5rem;
    left: -2rem;
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153, 0.1);
    color: #fff;
    background: rgba(255, 51, 153, 0.7);
    z-index: 1;
    border-radius: 0.5rem;
    transform: rotate(-45deg);
  }
  
  .services__>.services__boxContainer>.services__box>.services__bestSeller {
    position: absolute;
    top: 5rem;
    left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    color: var;
    background: var(--blue);
    z-index: 1;
    border-radius: 0.5rem;
    transform: rotate(-45deg);
  }
  
  .services__>.services__boxContainer>.services__box>.services__image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>img {
    height:25rem;
  }
  
  .services__>.services__boxContainer>.services__box:hover>.services__image>img {
    transform: scale(1.1);
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>.services__icons {
    position: absolute;
    bottom:-7rem;
    left:0;
    right:0;
    display: flex;
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>.services__icons {
    bottom:0;
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>.services__icons>a,button {
    height: 3rem;
    line-height: 2rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color:#fff;
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>.services__icons>a,button:hover {
    background-color: black;
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>.services__icons>.services__cartButton {
    
    border-left: 0 solid #fff7;
    border-right: 0 solid #fff7;
    border: 1rem, solid, black;
  }
  
  .services__>.services__boxContainer>.services__box>.services__image>.services__icons>a:hover {
    background: #333;
  }
  
  .services__>.services__boxContainer>.services__box>.services__content {
    padding:1rem;
    text-align: center;
  }
  
  .services__>.services__boxContainer>.services__box>.services__content>h3 {
    font-size: 2.5rem;
    color:#333;
  }
  
  .services__>.services__boxContainer>.services__box>.services__content>.services__pricing {
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
  }
  
  .services__>.services__boxContainer>.services__box>.services__content>.services__pricing>span {
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
  }
  
  #reviews__>.reviews__heading {
    padding-bottom: 1rem;
  }
  
  #reviews__>.reviews__boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box {
    flex:1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 0.1rem solid rgba(0,0,0,0.1);
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>.fa-quote-right {
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>.reviews__stars {
    color:var(--pink);
    font-size: 2rem;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>p {
    color:#222;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>.reviews__clientLogo {
    display: flex;
    align-items: center;
    padding-top: 2rem;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>.reviews__clientLogo>img {
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>.reviews__clientLogo>.reviews__clientInformation>h3 {
    font-size: 2rem;
    color:#333;
  }
  
  #reviews__>.reviews__boxContainer>.reviews__box>.reviews__clientLogo>.reviews__clientInformation>span {
    font-size: 1.5rem;
    color:#999;
  }
  
  /* .contact__ */
  
  .contact__>.contact__row {
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 10rem;
  }
  
  .contact__>.contact__row>.contact__form {
    margin-left: 5rem;
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
  }
  
  .contact__>.contact__row>.contact__image {
    flex:1 1 40rem;
  }
  
  .contact__>.contact__row>.contact__image>img {
    width: 100%;
  }
  
  .contact__>.contact__row>form>.contact__input {
    padding: 2rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
  }
  
  .contact__>.contact__row>form>.contact__button {
    padding: 2rem;
    font-size: 1.7rem;
    background-color: #C689C6;
    color:#fff;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
  }
  
  .contact__>.contact__row>form>.contact__input:focus {
    border-color: var(--pink);
  }
  
  .contact__>.contact__row>form>textarea {
    height: 15rem;
    resize: none;
  }
  
  .footer__>.footer__boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .footer__>.footer__boxContainer>.footer__box {
    flex:1 1 25rem;
  }
  
  .footer__>.footer__boxContainer>.footer__box>h3 {
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
  }
  
  .footer__>.footer__boxContainer>.footer__box>a {
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
  }
  
  .footer__>.footer__boxContainer>.footer__box>a:hover {
    color:var(--pink);
    text-decoration: underline;
  }
  
  .footer__>.footer__boxContainer>.footer__box>img {
      margin-top: 1rem;
  }
  
  .footer__>.footer__credit {
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
  }
  
  .footer__credit>span {
    color:var(--pink);
    text-transform: none;
  }
  
  /*
  
  LOGIN CSS
  
  */
  section#login__>div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }
  
  .login__container {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 0.6rem;
    overflow: hidden;
  }
  
  .login__container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: neonBorder 6s linear infinite;
  }
  
  .login__container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #C689C6, #45f3ff);
    transform-origin: bottom right;
    animation: neonBorder 6s linear -3s infinite;
  }
  
  .login__formContainer {
    position: absolute;
    inset: 0.3rem;
    border-radius:  0.6rem;
    background: var(--pink);
    z-index: 10;
    padding: 4.1rem 3.33rem;
    display: flex;
    flex-direction: column;
  }
  
  .login__formContainer>h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000;
  }
  
  .login__formContainer>.login__formInput {
    position: relative;
    width: 16.4rem;
    margin-top: 2.91rem;
  }
  
  .login__formContainer>.login__formInput>input {
    position: relative;
    width: 100%;
    padding: 1.1rem 0.51rem 0.51rem;
    background: transparent;
    border: 2px rgba(200, 75, 150, 0.7);
    outline: none;
    color: #000;
    font-size: 2em;
    letter-spacing: 0.05em;
    transition: 0.05s;
    z-index: 10;
  }
  
  .login__formContainer>.login__formInput>span {
    position: absolute;
    left: 0;
    padding: 1.1rem 0 0.51rem;
    font-size: 2em;
    color: rgba(200, 75, 150, 0.7);
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .login__formContainer>.login__formInput>input:focus ~ span {
    color: #000;
    transform: translateX(0rem) translateY(-2rem);
    font-size: 1.5em;
    
  }
  
  .login__formContainer>.login__formInput>em {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background: rgba(121, 2, 82, 0.2);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .login__formContainer>.login__formInput>input:focus ~ em {
    height: 1rem;
  
  }
  
  .login__formContainer>input[type="submit"] {
    border: 5px rgba(200, 75, 150, 0.7) solid;
    background-color: rgba(232, 15, 136, 0.1);
    color: black;
    padding: 1rem 1rem;
    width: 7.5rem;
    margin-top: 6rem;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .login__formButton>input[type="submit"]:active {
    opacity: 0.8;
  }
  
  .login__formLinks {
    display: flex;
    justify-content: space-between;
  }
  
  .login__formLinks>a {
    text-decoration: none;
    background-color: rgba(232, 15, 136, 0.1);
    color: #C689C6;
    margin: 1rem 1rem;
    font-size: 2.5rem;
  }
  
  .login__formLinks>a:hover,.login__Form>.login__Links>a:nth-child(2) {
    color: #45f3ff;
  }
  
  .login__formLinks>a::after {
    text-decoration: none;
    color: #C689C6;
    margin: 1rem 1rem;
    font-size: 2.5rem;
  }
  
  
  @keyframes neonBorder {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*
  
  register CSS
  
  */
  section#register__>div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }
  
  .register__container {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 0.6rem;
    overflow: hidden;
  }
  
  .register__container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: neonBorder 6s linear infinite;
  }
  
  .register__container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #C689C6, #45f3ff);
    transform-origin: bottom right;
    animation: neonBorder 6s linear -3s infinite;
  }
  
  .register__formContainer {
    position: absolute;
    inset: 0.3rem;
    border-radius:  0.6rem;
    background: var(--pink);
    z-index: 10;
    padding: 4.1rem 3.33rem;
    display: flex;
    flex-direction: column;
  }
  
  .register__formContainer>h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000;
  }
  
  .register__formContainer>.register__formInput {
    position: relative;
    width: 16.4rem;
    margin-top: 2.91rem;
  }
  
  .register__formContainer>.register__formInput>input {
    position: relative;
    width: 100%;
    padding: 1.1rem 0.51rem 0.51rem;
    background: transparent;
    border: 2px rgba(200, 75, 150, 0.7);
    outline: none;
    color: #000;
    font-size: 2em;
    letter-spacing: 0.05em;
    transition: 0.05s;
    z-index: 10;
  }
  
  .register__formContainer>.register__formInput>span {
    position: absolute;
    left: 0;
    padding: 1.1rem 0 0.51rem;
    font-size: 2em;
    color: rgba(200, 75, 150, 0.7);
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .register__formContainer>.register__formInput>input:focus ~ span {
    color: #000;
    transform: translateX(0rem) translateY(-2rem);
    font-size: 1.5em;
    
  }
  
  .register__formContainer>.register__formInput>em {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background: rgba(121, 2, 82, 0.2);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .register__formContainer>.register__formInput>input:focus ~ em {
    height: 1rem;
  
  }
  
  .register__formContainer>input[type="submit"] {
    border: 5px rgba(200, 75, 150, 0.7) solid;
    background-color: rgba(232, 15, 136, 0.1);
    color: black;
    padding: 1rem 1rem;
    width: 7.5rem;
    margin-top: 6rem;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .register__formButton>input[type="submit"]:active {
    opacity: 0.8;
  }
  
  .register__formLinks {
    display: flex;
    justify-content: space-between;
  }
  
  .register__formLinks>a {
    text-decoration: none;
    background-color: rgba(232, 15, 136, 0.1);
    color: #C689C6;
    margin: 1rem 1rem;
    font-size: 2.5rem;
  }
  
  .register__formLinks>a:hover,.register__Form>.register__Links>a:nth-child(2) {
    color: #45f3ff;
  }
  
  .register__formLinks>a::after {
    text-decoration: none;
    color: #C689C6;
    margin: 1rem 1rem;
    font-size: 2.5rem;
  }
  
  @keyframes neonBorder {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* HERE IS OUR SUPPORT FORM support__ */
  
  section.support__>div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }
  
  .support__container {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 0.6rem;
    overflow: hidden;
  }
  
  .support__formContainer {
    position: absolute;
    inset: 0.3rem;
    border-radius:  0.6rem;
    background: var(--pink);
    z-index: 10;
    padding: 4.1rem 3.33rem;
    display: flex;
    flex-direction: column;
  }
  
  .support__formContainer>h2 {
    color: #000;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
  }
  
  .support__formContainer>.support__formInput {
    position: relative;
    width: 16.4rem;
    margin-top: 2.91rem;
  }
  
  .support__formContainer>.support__formInput>label {
    color: #000;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 1rem;
  }
  
  .support__formContainer>.support__formInput>input {
    position: relative;
    width: 100%;
    padding: 1.1rem 0.51rem 0.51rem;
    background: transparent;
    border: 2px rgba(200, 75, 150, 0.7);
    outline: none;
    color: #000;
    font-size: 2em;
    letter-spacing: 0.05em;
    transition: 0.05s;
    z-index: 10;
  }
  
  .support__formContainer>input[type="submit"] {
    border: 5px #000 solid;
    background-color: rgba(232, 15, 136, 0.1);
    color: black;
    padding: 1rem 1rem;
    width: 7.5rem;
    margin-top: 6rem;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .support__formButton>input[type="submit"]:active {
    opacity: 0.8;
  }
  
  table {
    width: 100%;
    border: collapse;
    background-color: #eee;
  }
  
  .table__ thead tr {
    background-color: #009879;
    color: #fff;
    text-align: center;
    width: 10%;
  }
  
  .table__ th {
    padding: 12px, 15px;
    width: 10%;
    height: 30px;
  }
  
  .table__ tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .table__ tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  section.table__ tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .table__ tbody tr{
    font-weight: bold;
    color: #009879;
  }
  
  .table__ td {
    padding: 12px, 15px;
    width: 10%;
    height: 30px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  
  a.table__pageNum {
    color: #009879;
    cursor: pointer;
    font-size: medium;
  }
  
  button.actionBtn {
    padding: 1rem;
    color: white;
    font-weight: bold;
    background-color: #009879;
    border-radius: 25px;
    cursor: pointer;
  }
  
  /*FULL SR */
  div.request__ {
    display: flex;
    margin-top: 1rem;
    font-size: medium;
    text-align: center;
    justify-content: center;
  }
  
  form.updateSR__>label {
    margin: 2rem;
  }
  
  .updateSR__inputText {
    width: 40%;
    background-color: #ddd;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 1rem;
  }
  
  /* media queries  */
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header__ {
      padding: 2rem;
    }
  
    section {
      padding: 2rem;
    }
  
    .home__ {
      background-position: left;
    }
  }
  
  @media (max-width: 768px) {
    .header__>.fa-bars {
      display: block;
    }
  
    .header__ .header__navbar {
      position: absolute;
      top: 100%;
      left:0;
      right: 0;
      background: #eee;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
     #header__hamburgerMenu:checked ~ .header__navbar {
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
  
   .header__navbar>a {
     margin: 1.5rem;
     padding: 1.5rem;
     background: #fff;
     border: 0.1rem solid rgba(0, 0, 0, 0.1);
     display: block;
   }
  
   .home__>.home__content>h3 {
     font-size: 5rem;
   }
  
   .home__>.home__content>span {
     font-size: 2.5rem;
   }
  
   .icons__>.icons__images>h3 {
     font-size: 2rem;
   }
  
   .icons__>.icons__images>span {
     font-size: 1.7rem;
   }
  
  }
  
  @media (max-width: 450px) {
  
    html {
      font-size: 50%;
    }
  
    .story__heading {
      font-size: 3rem;
    }
  }
