<section class="footer__" id="footer__">
    <div class="footer__boxContainer">
      <div class="footer__box">
        <h3>quick links</h3>
          <a href="http://localhost/durondavid.com/#home__">home</a>
          <a href="http://localhost/durondavid.com/#story__">who we are</a>
          <a href="http://localhost/durondavid.com/#contact__">contact</a>
      </div>
      <!-- <div class="footer__box">
        <h3>Our Family</h3>
          <a href="#">durondavid.com</a>
      </div>
     -->
      <div class="footer__box">
        <h3>Contact Us</h3>
          <a href="tel:8636148468">+1 863-318-1851</a>
          <a href="mailto:hello@durondavid.com">Send us an email</a>
          <a href="https://www.bing.com/maps?osid=23053567-b9f9-49b8-97ed-f6fd55bff203&cp=28.045028~-81.953152&lvl=16&imgid=52caa9cd-af48-4cc5-9f51-5258b0274ffd&v=2&sV=2&form=S00027">830 E Main St, Lakeland, FL 33801</a> <br/> <br/>
    
          <img src="http://localhost/durondavid.com/includes/assets/media/images/landing/payment.png" alt="">
      </div>
    
      <div class="footer__credit">
        created by <span> Val's Candy Shelf, LLC </span> & David Duron | all rights reserved
      </div>    
    </div>
  </section>